{% import 'components/form.html' as FORM %}
{% import 'components/statistics.html' as STATS %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}">

    <title>{% block title %}{% endblock %} - Kodesiana</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
        integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css' )}}">
    {% endblock %}
</head>

<body>
    <section class="hero is-fullheight is-default is-bold">
        <div class="hero-head">
            {% include "components/navbar.html" %}
        </div>

        <div class="hero-body">
            {% block content %}{% endblock %}
        </div>

        <div class="hero-foot">
            <div class="container">
                <div class="tabs is-centered mb-4">
                    <ul>
                        <li>Copyright &copy; Fahmi Noor Fiqri 2024.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>

</html>