{% set navigation_bar = [
(url_for('home.index'), 'home', 'Beranda'),
(url_for('predictions.index'), 'predictions', 'Prediksi'),
(url_for('ask_ai.index'), 'ask_ai', 'Tanya AI'),
(url_for('about.index'), 'about', 'Tentang'),
] -%}

{% set active_page = active_page | default('home') -%}

<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('home.index') }}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo"><span class="ml-3">Kodesiana</span>
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="tabs is-right">
                    <ul>
                        {% for href, id, caption in navigation_bar %}
                        <li class="{% if id == active_page %}is-active{% endif %}"><a href="{{ href }}">{{ caption }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>