IMAGE_ROOT = "/rumah123-images"

REGRESSOR_PATH = "assets/rumah-regressor.txt"

DB_URI = "dbname=rumah-db user=rumah-user password=rumah-password host=localhost port=5432"

GEMINI_API_KEY = "YOUR API KEY"
GEMINI_MODEL = "gemini-2.0-flash"
