{% extends "components/base.html" %}

{% block title %}Statistik{% endblock %}

{% set active_page = "statistics" %}

{% block head %}
  {{ super() }}
{% endblock %}


{% block content %}
<div>
  <form action="{{ url_for('statistics.page') }}" method="get">
    <p>Pilih Kecamatan:</p>
    <div class="select is-medium mb-6">
    <select name="district" id="district" onchange="this.form.submit()">
      {% for district in districts %}
        <option value="{{ district.district_sk }}" {% if district.district_sk == district_sk %}selected{% endif %}>{{ district.district }}</option>
      {% endfor %}
    </select>
  </div>
  </form>
</div>  

<div class="columns">
  <div class="column">
    <div class="box">
      <p class="title is-3">{{ district_name }} <small>({{ stats.top_district_count }})</small></p>
      <p class="subtitle">Kecamatan</p>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <p class="title is-3">{{ stats.median_price }}</p>
      <p class="subtitle">Median Harga Rumah</p>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <p class="title is-3">{{ stats.mean_price }}</p>
      <p class="subtitle">Rata-Rata Harga Rumah</p>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column">
    <div class="box">
      <p class="title is-3">{{ stats.median_price_by_land_area }}</p>
      <p class="subtitle">Median Harga per Luas Tanah (m<sup>2</sup>)</p>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <p class="title is-3">{{ stats.median_price_by_building_area }}</p>
      <p class="subtitle">Median Harga per Luas Bangunan (m<sup>2</sup>)</p>
    </div>
  </div>
</div>

<div class="mt-6">
  <h5 class="title is-5">Histogram Median Harga Rumah</h5>
<canvas id="chart_price_histogram" height="100"></div>
</div>
{% endblock %}


{% block page_script %}
    {{ super() }}
    <script>
      function format_million(value) {
        return "Rp" + (value / 1_000_000).toLocaleString('id-ID') + "jt";
      }

      fetch("{{ url_for('statistics.chart_listing_price_hist', district_sk=district_sk) }}").then(res => res.json()).then(data => {
        const dataMap = []
        for (let i = 0; i < data.length; i++) {
          if (i == 0) {
            dataMap.push({
              bucket: `0 - ${format_million(data[i].bucket)}`,
              count: data[i].count
            })

            continue;
          }

          dataMap.push({
            bucket: `${format_million(data[i-1].bucket)} - ${format_million(data[i].bucket)}`,
            count: data[i].count
          })
        }
    
        new Chart(document.getElementById('chart_price_histogram'), {
          type: 'bar',
          data: {
            datasets: [{
              label: 'Histogram Median Harga Rumah',
              data: dataMap,
            }]
          },
          options: {
            responsive: true,
            scales: {
              y: {
                beginAtZero: true
              }
            },
            parsing: {
              xAxisKey: 'bucket',
              yAxisKey: 'count'
            },
          }
        });
      });
    </script>
{% endblock %}
