{% macro form_input(name, type, label) -%}
<div class="field">
    <label class="label">{{ label | safe }}</label>
    <div class="control">
        <input class="input" type="{{ type }}" name="{{ name }}" />
    </div>
</div>
{%- endmacro %}

{% macro form_checkboxes(name, values, label) -%}
<div class="field">
    <label class="label">{{ label | safe }}</label>
    {% for v in values %}
    <label class="checkbox mr-2">
        <input type="checkbox" name="{{ name }}" value="{{ v }}" /> {{ v | safe }}
    </label>
    {% endfor %}
</div>
{%- endmacro %}
